
aside {
    float: right;

    border: 1px black solid;
    border-radius: 5px;
    margin-top: 10px;
    font-family: "futuraa" ;
}
.logo{
    background-image: url("../Afb/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    height:77px;
    float: right;
}

Footer{
    width: 100%;
    height: 80px;
    line-height: 50px;
    border-bottom: 10px rgba(218, 98, 99,1.0) solid;
    font-family: 'futuraa';
    background-color: rgba(218, 98, 99,1.0);

}
.art1{
    border-radius: 5px;
    border: 1px solid #0f0f0f;
    margin-top: 10px;
    font-family: "Futura", sans-serif;
}
/*===================
       nav
  ===================*/
a:hover {
    color: black;
}
a {
    font-family: 'futuraa';
    color: white;
    text-decoration: none;
}


nav {
    margin-top: 0px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-bottom: 10px rgba(218, 98, 99,1.0) solid;
    font-family: 'arial';


}

nav ul {
    text-align: center;
    list-style: none;
}

nav ul li {
    margin-top: 0;
    display: inline-block;
    padding: 0px;
    padding-top: 0;
}

nav ul li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    padding-top:0px;
    padding-bottom: 0px;
    margin: 0 auto;

}

nav ul li a:hover {
    background: rgba(113, 191, 187,0.5);
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.5);
}

.active {
    background: rgba(218, 98, 99,1.0);
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.5);
}
.active:hover {
    background: rgba(113, 191, 187,1.0);
}



/*===================
        grid
  ===================*/

*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
    background-image: url("../Afb/background.png");
}
.grid__wrapper {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;

}

/*
    Container
*/
.grid__container {
    display: block;
    max-width: 71.25rem;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    zoom: 1;
    background-color: rgba(102,75,158,.30);
    
}
.grid__container::before, .grid__container::after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; 
}
.grid__container::after {
    clear: both; 
}
.grid__container--debug {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background: rgba(255, 0, 255, 0.5); 
}

/*
    Row
*/
.grid__row {
    display: block;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    zoom: 1;
}
.grid__row::before, .grid__row::after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; 
}
.grid__row::after {
    clear: both; 
}
.grid__row--debug {
    background: rgba(52, 152, 219, 1.0); 
}
.grid__row--debug .grid__row--debug {
    padding-top: 0;
}

/*
    Column
*/
.grid__column, .grid__column-bp1-1, .grid__column-bp1-2, .grid__column-bp1-3, .grid__column-bp1-4, .grid__column-bp1-5, .grid__column-bp1-6, .grid__column-bp1-7, .grid__column-bp1-8, .grid__column-bp1-9, .grid__column-bp1-10, .grid__column-bp1-11, .grid__column-bp1-12, .grid__column-bp2-1, .grid__column-bp2-2, .grid__column-bp2-3, .grid__column-bp2-4, .grid__column-bp2-5, .grid__column-bp2-6, .grid__column-bp2-7, .grid__column-bp2-8, .grid__column-bp2-9, .grid__column-bp2-10, .grid__column-bp2-11, .grid__column-bp2-12, .grid__column-bp3-1, .grid__column-bp3-2, .grid__column-bp3-3, .grid__column-bp3-4, .grid__column-bp3-5, .grid__column-bp3-6, .grid__column-bp3-7, .grid__column-bp3-8, .grid__column-bp3-9, .grid__column-bp3-10, .grid__column-bp3-11, .grid__column-bp3-12, .grid__column-bp4-1, .grid__column-bp4-2, .grid__column-bp4-3, .grid__column-bp4-4, .grid__column-bp4-5, .grid__column-bp4-6, .grid__column-bp4-7, .grid__column-bp4-8, .grid__column-bp4-9, .grid__column-bp4-10, .grid__column-bp4-11, .grid__column-bp4-12, .grid__column-bp5-1, .grid__column-bp5-2, .grid__column-bp5-3, .grid__column-bp5-4, .grid__column-bp5-5, .grid__column-bp5-6, .grid__column-bp5-7, .grid__column-bp5-8, .grid__column-bp5-9, .grid__column-bp5-10, .grid__column-bp5-11, .grid__column-bp5-12 {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    overflow: hidden;
}
.grid__column--debug {
     background: rgba(46, 204, 113, 1.0);
     height: 16px;
}
.grid__column--debug>div {
     background: rgba(26, 188, 156, 1.0);
     height: 100%;
}

/* 
    Responsive media queries
    Breakpoints
    BP1: 320px (20rem)
    BP2: 480px (30rem)
    BP3: 680px (42.5rem)
    BP4: 960px (60rem)
    BP5: 1140px (71.25rem)
*/
@media (min-width: 20rem) {
    .grid__column-bp1-1 { width: 8.33333%; }
    .grid__column-bp1-2 { width: 16.66666%; }
    .grid__column-bp1-3 { width: 25%; }
    .grid__column-bp1-4 { width: 33.33333%; }
    .grid__column-bp1-5 { width: 41.66666%; }
    .grid__column-bp1-6 { width: 50%; }
    .grid__column-bp1-7 { width: 58.33333%; }
    .grid__column-bp1-8 { width: 66.66666%; }
    .grid__column-bp1-9 { width: 75%; }
    .grid__column-bp1-10 { width: 83.33333%; }
    .grid__column-bp1-11 { width: 91.66666%; }
    .grid__column-bp1-12 { width: 100%; }
    
    .grid__offset-bp1-1 { margin-left: 8.33333%; }
    .grid__offset-bp1-2 { margin-left: 16.66666%; }
    .grid__offset-bp1-3 { margin-left: 25%; }
    .grid__offset-bp1-4 { margin-left: 33.33333%; }
    .grid__offset-bp1-5 { margin-left: 41.66666%; }
    .grid__offset-bp1-6 { margin-left: 50%; }
    .grid__offset-bp1-7 { margin-left: 58.33333%; }
    .grid__offset-bp1-8 { margin-left: 66.66666%; }
    .grid__offset-bp1-9 { margin-left: 75%; }
    .grid__offset-bp1-10 { margin-left: 83.33333%; }
    .grid__offset-bp1-11 { margin-left: 91.66666%; }
    .grid__offset-bp1-12 { margin-left: 100%; }
}
@media (min-width: 30rem) {
    .grid__column-bp2-1 { width: 8.33333%; }
    .grid__column-bp2-2 { width: 16.66666%; }
    .grid__column-bp2-3 { width: 25%; }
    .grid__column-bp2-4 { width: 33.33333%; }
    .grid__column-bp2-5 { width: 41.66666%; }
    .grid__column-bp2-6 { width: 50%; }
    .grid__column-bp2-7 { width: 58.33333%; }
    .grid__column-bp2-8 { width: 66.66666%; }
    .grid__column-bp2-9 { width: 75%; }
    .grid__column-bp2-10 { width: 83.33333%; }
    .grid__column-bp2-11 { width: 91.66666%; }
    .grid__column-bp2-12 { width: 100%; }
    
    .grid__offset-bp2-1 { margin-left: 8.33333%; }
    .grid__offset-bp2-2 { margin-left: 16.66666%; }
    .grid__offset-bp2-3 { margin-left: 25%; }
    .grid__offset-bp2-4 { margin-left: 33.33333%; }
    .grid__offset-bp2-5 { margin-left: 41.66666%; }
    .grid__offset-bp2-6 { margin-left: 50%; }
    .grid__offset-bp2-7 { margin-left: 58.33333%; }
    .grid__offset-bp2-8 { margin-left: 66.66666%; }
    .grid__offset-bp2-9 { margin-left: 75%; }
    .grid__offset-bp2-10 { margin-left: 83.33333%; }
    .grid__offset-bp2-11 { margin-left: 91.66666%; }
    .grid__offset-bp2-12 { margin-left: 100%; }
}
@media (min-width: 42.5rem) {
    .grid__column-bp3-1 { width: 8.33333%; }
    .grid__column-bp3-2 { width: 16.66666%; }
    .grid__column-bp3-3 { width: 25%; }
    .grid__column-bp3-4 { width: 33.33333%; }
    .grid__column-bp3-5 { width: 41.66666%; }
    .grid__column-bp3-6 { width: 50%; }
    .grid__column-bp3-7 { width: 58.33333%; }
    .grid__column-bp3-8 { width: 66.66666%; }
    .grid__column-bp3-9 { width: 75%; }
    .grid__column-bp3-10 { width: 83.33333%; }
    .grid__column-bp3-11 { width: 91.66666%; }
    .grid__column-bp3-12 { width: 100%; }
    
    .grid__offset-bp3-1 { margin-left: 8.33333%; }
    .grid__offset-bp3-2 { margin-left: 16.66666%; }
    .grid__offset-bp3-3 { margin-left: 25%; }
    .grid__offset-bp3-4 { margin-left: 33.33333%; }
    .grid__offset-bp3-5 { margin-left: 41.66666%; }
    .grid__offset-bp3-6 { margin-left: 50%; }
    .grid__offset-bp3-7 { margin-left: 58.33333%; }
    .grid__offset-bp3-8 { margin-left: 66.66666%; }
    .grid__offset-bp3-9 { margin-left: 75%; }
    .grid__offset-bp3-10 { margin-left: 83.33333%; }
    .grid__offset-bp3-11 { margin-left: 91.66666%; }
    .grid__offset-bp3-12 { margin-left: 100%; }
}
@media (min-width: 60rem) {
    .grid__column-bp4-1 { width: 8.33333%; }
    .grid__column-bp4-2 { width: 16.66666%; }
    .grid__column-bp4-3 { width: 25%; }
    .grid__column-bp4-4 { width: 33.33333%; }
    .grid__column-bp4-5 { width: 41.66666%; }
    .grid__column-bp4-6 { width: 50%; }
    .grid__column-bp4-7 { width: 58.33333%; }
    .grid__column-bp4-8 { width: 66.66666%; }
    .grid__column-bp4-9 { width: 75%; }
    .grid__column-bp4-10 { width: 83.33333%; }
    .grid__column-bp4-11 { width: 91.66666%; }
    .grid__column-bp4-12 { width: 100%; }

    .grid__offset-bp4-1 { margin-left: 8.33333%; }
    .grid__offset-bp4-2 { margin-left: 16.66666%; }
    .grid__offset-bp4-3 { margin-left: 25%; }
    .grid__offset-bp4-4 { margin-left: 33.33333%; }
    .grid__offset-bp4-5 { margin-left: 41.66666%; }
    .grid__offset-bp4-6 { margin-left: 50%; }
    .grid__offset-bp4-7 { margin-left: 58.33333%; }
    .grid__offset-bp4-8 { margin-left: 66.66666%; }
    .grid__offset-bp4-9 { margin-left: 75%; }
    .grid__offset-bp4-10 { margin-left: 83.33333%; }
    .grid__offset-bp4-11 { margin-left: 91.66666%; }
    .grid__offset-bp4-12 { margin-left: 100%; }
}
@media (min-width: 71.25rem) {
    .grid__column-bp5-1 { width: 8.33333%; }
    .grid__column-bp5-2 { width: 16.66666%; }
    .grid__column-bp5-3 { width: 25%; }
    .grid__column-bp5-4 { width: 33.33333%; }
    .grid__column-bp5-5 { width: 41.66666%; }
    .grid__column-bp5-6 { width: 50%; }
    .grid__column-bp5-7 { width: 58.33333%; }
    .grid__column-bp5-8 { width: 66.66666%; }
    .grid__column-bp5-9 { width: 75%; }
    .grid__column-bp5-10 { width: 83.33333%; }
    .grid__column-bp5-11 { width: 91.66666%; }
    .grid__column-bp5-12 { width: 100%; }
        
    .grid__offset-bp5-1 { margin-left: 8.33333%; }
    .grid__offset-bp5-2 { margin-left: 16.66666%; }
    .grid__offset-bp5-3 { margin-left: 25%; }
    .grid__offset-bp5-4 { margin-left: 33.33333%; }
    .grid__offset-bp5-5 { margin-left: 41.66666%; }
    .grid__offset-bp5-6 { margin-left: 50%; }
    .grid__offset-bp5-7 { margin-left: 58.33333%; }
    .grid__offset-bp5-8 { margin-left: 66.66666%; }
    .grid__offset-bp5-9 { margin-left: 75%; }
    .grid__offset-bp5-10 { margin-left: 83.33333%; }
    .grid__offset-bp5-11 { margin-left: 91.66666%; }
    .grid__offset-bp5-12 { margin-left: 100%; }
}

/*===================
        font
  ===================*/
@font-face{
    font-family: 'bebasneue' ;
    src: url(../fonts/bebas/BebasNeue.ttf);
}
@font-face{
    font-family: 'alex brush';
    src: url(../fonts/alex/AlexBrushRegular.ttf);
}
@font-face {
    font-family: 'futuraa';
    src: url(../fonts/futura/FuturaExtended.ttf);
}

/*===================
       helper
  ===================*/
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
/*===================
       normalize
  ===================*/
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
    margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
    display: inline-block; /* 1 */
    vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
    display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
    background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
    font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
    font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
    background: #ff0;
    color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
    border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
    overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
    margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
    overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
    color: inherit; /* 1 */
    font: inherit; /* 2 */
    margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
    overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
    line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
    overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
    font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

